{% extends 'base.html.twig' %}

{% block title %}Create a section{% endblock %}
{% block metadesc %}Form to create a section{% endblock %}

{% block pageWrapper %}forum{% endblock %}

{% block body %}

<h1>Create a section</h1>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}

{% endfor %}

{{ form_start(createSectionForm) }}
    {{ form_errors(createSectionForm) }}

    {{ form_row(createSectionForm.Article) }}
    
    {{ form_row(createSectionForm.title) }}
    {{ form_row(createSectionForm.text) }}
    
    {{ form_row(createSectionForm.summary) }}

    {{ form_label(createSectionForm.equipmentSections) }}
    {{ form_errors(createSectionForm.equipmentSections) }}

    <ul class="equipSections collectionType"
        data-index="{{ createSectionForm.equipmentSections|length > 0 ? createSectionForm.equipmentSections|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(createSectionForm.equipmentSections.vars.prototype)|e('html_attr') }}">

        {% for equipField in createSectionForm.equipmentSections %}
            <li>
                {{ form_errors(equipField) }}
                {{ form_widget(equipField) }}
            </li>

        {% endfor %}

        <button type="button" class="add_item_link" data-collection-holder-class="equipSections">Add stuff</button>
    </ul>
    
    <button type="submit" class="form-btn-submit">Submit</button>

{{ form_end(createSectionForm) }}


<script>
    function addFormToCollection(e) {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
      
        const item = document.createElement('li');
      
        item.innerHTML = collectionHolder
          .dataset
          .prototype
          .replace(
            /__name__/g,
            collectionHolder.dataset.index
          );
      
        collectionHolder.appendChild(item);
      
        collectionHolder.dataset.index++;
    };

    document
    .querySelectorAll('.add_item_link')
    .forEach(btn => {
        btn.addEventListener("click", addFormToCollection)
  });
</script>

{% endblock %}
