{% extends 'base.html.twig' %}

{% block title %}Create a topic{% endblock %}
{% block metadesc %}Form to create a topic{% endblock %}

{% block pageWrapper %}create-topic{% endblock %}

{% block body %}

<h1>Create a topic</h1>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}

{% endfor %}

{{ form_start(createEquipForm) }}
    {{ form_errors(createEquipForm) }}
    
    {# {{ form_row(createEquipForm.title) }} #}

    {{ form_row(createEquipForm.name) }}
    {{ form_row(createEquipForm.text) }}
    {{ form_row(createEquipForm.sub_category) }}
    {# {{ form_widget(createEquipForm.sub_category) }} #}
    {# {% for cat in createEquipForm.sub_category %}
        {{ form_row(cat) }}
        {{ form_widget(cat) }}
        
    {% endfor %} #}
    
    <button type="submit" class="form-btn-submit">Submit</button>
{{ form_end(createEquipForm) }}

{% endblock %}
