{% extends 'base.html.twig' %}

{% block title %}Create a topic{% endblock %}
{% block metadesc %}Form to create a topic{% endblock %}

{% block pageWrapper %}create-topic{% endblock %}

{% block body %}

<h1>Create a topic</h1>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}

{% endfor %}

{{ form_start(createTopicForm) }}
    {{ form_errors(createTopicForm) }}
    
    {{ form_row(createTopicForm.title) }}

    {{ form_row(createTopicForm.Equipment) }}
    {{ form_row(createTopicForm.Article) }}

    {{ form_row(createTopicForm.msgAuthor) }}

    <button type="submit" class="form-btn-submit" >Submit</button>
{{ form_end(createTopicForm) }}

{% endblock %}
