{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}
{% block metadesc %}Forum HomePage{% endblock %}

{% block pageWrapper %}forum{% endblock %}

{% block body %}

<h2 class="primary-title">Welcome {{ app.user }}!</h2>

<a href="{{ path('create_topic')}}">
    <button>New topic</button>
</a>

<div class="topics-category">

    {% for category in equipCateg %}
   
        <a href="{{ path('list_topic', {id:category.id, sortBy:'equip'}) }}">
            <button>Topics by {{ category.label }} </button>
        </a>
        
    {% endfor %}
    
    <a href="{{ path('list_topic', {sortBy:'article'}) }}">
        <button>Topics by Article</button>
    </a>

</div>

<section class="table-popular">
    <div class="table-header table-row">
        <h3>Popular topics</h3>
    </div>
    
    <div class="table-body">
        {% for topic in topics %}
        <div class="table-row">
            <div>
                <div class="details-topic-info" 
                {{ react_component('components/forum/TopicTag', {category: ''~ topic.showCategory, author: ''~ topic.author.username }) }}
                >
            </div>

            <p>
                <a href="{{ path('show_topic', {id:topic.id}) }}">
                    {{ topic.title }}
                </a>
            </p>
        </div>
        {% endfor %}
    </div>

</section>

{% endblock %}
