{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}
{% block metadesc %}Forum HomePage{% endblock %}

{% block pageWrapper %}equip{% endblock %}

{% block body %}

<h2 class="primary-title">Welcome {{ app.user }}!</h2>

<div class="topics-category">

    {% for category in equipCateg %}
   
        <a href="{{ path('list_topic', {id:category.id, sortBy:'equip'}) }}">
            <button>Topics by {{ category.label }} </button>
        </a>
        
    {% endfor %}
    
    <a href="{{ path('list_topic', {sortBy:'article'}) }}">
        <button>Topics by Article</button>
    </a>
    

        

</div>

<section class="table-popular">
    <div>
        <h3>Popular topics</h3>
    </div>
    {% for topic in topics %}
   
    <div>
        <a href="{{ path('show_topic', {id:topic.id}) }}">
            <p>{{ topic.title }}</p>
        </a>
    </div>
    {% endfor %}

</section>

{% endblock %}
