{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}
{% block metadesc %}Forum HomePage{% endblock %}

{% block pageWrapper %}forum{% endblock %}

{% block body %}

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}

{% endfor %}

<article id="details-topic-header">
    <div class="topic-header-wrapper">

        <div class="param-btn-container">
            
            <div class="details-topic-info" 
                {{ react_component('components/forum/TopicTag', {category: ''~ topic.showCategory, author: ''~ topic.author.username }) }}
            ></div>

            <a href="{{ path('update_topic', {id: topic.id}) }}">
                <strong>
                    EDIT
                </strong>
            </a>

            <a href="{{ path('delete_topic', {id: topic.id}) }}" class="delete-btn">
                <strong>
                    DELETE
                </strong>
            </a>

        </div>

        <div class="details-topic-content">
            <h1>{{ topic.title }}</h1>

            <p>{{ topic.msgAuthor }}</p>
        </div>
    </div>
</article> 

{{ form_start(createMessageForm) }}
    {{ form_errors(createMessageForm) }}
    
    {{ form_row(createMessageForm.text) }}

    <button type="submit" class="form-btn-submit" >Send</button>
{{ form_end(createMessageForm) }}



<section id="details-topic-reponses">
    {% if responses | length > 0 %}

        {% for response in responses %}

        <div class="details-topic-tree">
            <div class="details-topic-msg">
                <p>{{ response.Author }} - <span>{{ response.creationDate | date("F jS \\a\\t g:ia") }}</span> </p>
                <p>{{ response.text }}</p>
            
    
              
                {# {{ form_start(formsComment) }}

                    {{ form_errors(formsComment) }}

                    <button>
                        Reply
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z"/></svg>
                    </button>
                {{ form_end(formsComment) }} #}

                <form action="/forum/topic/comment" method="post">
                    <label for="{{ response.id }}"></label>
                    <input type="text" name="comment" id="{{ response.id }}">

                    <input type="hidden" name="id" value={{ response.id }}>
                
                    <button type="submit" class="form-btn-submit" >
                        Reply
                        {# <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z"/></svg> #}
                    </button>
                
                </form>
                
            </div>

            {% if response.comments | length > 0 %}
                {% for comment in response.comments %}
                <div class="details-topic-comment">
                    <p>{{ comment.Author }} - <span>{{ comment.creationDate | date("F jS \\a\\t g:ia") }}</span> </p>
                    <p>{{ comment.text }}</p>
                </div>
                {% endfor %}
            {% endif %}

        </div>
        {% endfor %}

    {% else %}
        <div class="details-topic-tree">
            <div class="details-topic-msg">
                <p>This topic doesn't have any messages</p>
            </div>
            
        </div>
    {% endif %}
</section>

{% endblock %}
