{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}
{% block metadesc %}Forum HomePage{% endblock %}

{% block pageWrapper %}forum{% endblock %}

{% block body %}


<article id="details-topic-header">
    <div class="topic-header-wrapper">

        <div class="param-btn-container">
            
            <div class="details-topic-info" 
                {{ react_component('components/forum/TopicTag', {category: ''~ topic.showCategory, author: ''~ topic.author.username }) }}
            ></div>

            <a href="{{ path('update_topic', {id: topic.id}) }}">
                <strong>
                    EDIT
                </strong>
            </a>

            
            <a href="{{ path('delete_topic', {id: topic.id}) }}" class="delete-btn">
                <strong>
                    DELETE
                </strong>
            </a>

        </div>

        <div class="details-topic-content">
            <h1>{{ topic.title }}</h1>

            <p>{{ topic.msgAuthor }}</p>
        </div>
    </div>
</article> 

{{ form_start(createMessageForm) }}
    {{ form_errors(createMessageForm) }}
    
    {{ form_row(createMessageForm.text) }}

    <button type="submit" class="form-btn-submit" >Send</button>
{{ form_end(createMessageForm) }}

<section id="details-topic-reponses">
    {% if responses | length > 0 %}

        {% for response in responses %}

        <div class="details-topic-tree">
            <div class="details-topic-msg">
                <p>{{ response.Author }} - <span>{{ response.creationDate | date("F jS \\a\\t g:ia") }}</span> </p>
                <p>{{ response.text }}</p>
            </div>

            {% if response.comments | length > 0 %}
                {% for comment in response.comments %}
                <div class="details-topic-comment">
                    <p>{{ comment.Author }} - <span>{{ comment.creationDate | date("F jS \\a\\t g:ia") }}</span> </p>
                    <p>{{ comment.text }}</p>
                </div>
                {% endfor %}
            {% endif %}

        </div>
        {% endfor %}

    {% else %}
        <div class="details-topic-tree">
            <p>This topic doesn't have any messages</p>
        </div>
    {% endif %}
</section>

{% endblock %}
